@using ViewModels
@model InvoiceEditViewModel
@using Microsoft.AspNetCore.Http
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <br>
        <div class="row">

            <div class="col-12">
                <p style="text-align: center; color: #da2424;font-size:28px;font-weight:bold ">
                    The Bill
                </p>
            </div>

        </div>
        <br> <br>
        <div class="row" style="text-align: right;">
            <div class="col-4">
                <div class="card border-success mb-3 text-left" style="max-width: 30rem; height: 80%;">
                    <div class="card-header bg-transparent border-success" style="text-align: center; font-size: 22px;">
                        <b>Invoice Details</b>
                    </div>
                    <div class="card-body text-success">
                        <p style="line-height: 17px;font-size:15px;" >
                            <b>Invoice No : @Model.ID</b> <br><br>
                            <b>Invoice Date : @Model.Date.ToShortDateString()</b> <br><br>
                            <b>Invoice Time : @Model.Date.ToShortTimeString()</b> <br><br>
                        </p>

                    </div>


                </div>



            </div>
            <div class="col-8">
                <table class="table text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">TotalPrice</th>
                            <th scope="col">Discount</th>
                            <th scope="col">NetPrice</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var cart in ViewData["Cartli"] as List<UI.Models.Cart>)
                        {

                            <tr>
                                <td>@cart.ItemName</td>
                                <td>@cart.UnitName</td>
                                <td>@cart.Price</td>
                                <td>@cart.Quantity</td>
                                <td>@cart.TotalPrice</td>
                                <td>@cart.Discount</td>
                                <td>@cart.Net</td>


                            </tr>

                        }

                    </tbody>

                </table>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">

            </div>
            <div class="form-group col-md-4">
                <label for="Total"><b>Total: </b></label>
                <label for="Total"><b>@Context.Session.GetString("InvoiceTotal")</b></label>

            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-8">

            </div>
            <div class="form-group col-md-4">
                <label for="Taxes"><b>Taxes: </b></label>
                <label for="Taxes"><b>@Context.Session.GetString("InvoiceTaxes")</b></label>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-8">

            </div>
            <div class="form-group col-md-4">
                <label for="Net"><b>Net: </b></label>
                <label for="Net"><b>@Context.Session.GetString("InvoiceNet")</b></label>

            </div>

        </div>
    </div>



</body>
</html>
